.greasyscripts_highlighted > toolbarbutton  > image,
.greasyscripts_highlighted > dropmarker > image {
	background-color: rgba(0, 128, 255, 0.05) !important;
	box-shadow: 0 0 2px rgba(0, 128, 255, 0.5) !important;
}


.greasyscripts_menuitem  .menu-accel {
	color: #080;
}

.greasyscripts_menuitem  .menu-accel[value^="0"] {
	color: #a00;
}


.greasyscripts_setting[disabled] {
	color: gray;
}

.greasyscripts_setting > setting {
	border: none;
}