toolbarbutton.greasyscripts_highlighted > toolbarbutton > image {
	padding: 2px 0px;
	background-image: url(chrome://greasyscripts/skin/gradient.png) !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}


.greasyscripts_menuitem  .menu-accel {
	color: #080;
}

.greasyscripts_menuitem  .menu-accel[value^="0"] {
	color: #a00;
}


.greasyscripts_setting[disabled] {
	color: gray;
}

.greasyscripts_setting > setting {
	border: none;
}