@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#browser-panel #navigator-toolbox #nav-bar .greasyscripts_highlighted > toolbarbutton > image,
.greasyscripts_highlighted > toolbarbutton > image {
	padding: 2px 0;
	background-image: url(chrome://greasyscripts/skin/gradient.png) !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}


.greasyscripts_menuitem  .menu-accel {
	color: #080 !important;
}

.greasyscripts_menuitem  .menu-accel[value^="0"] {
	color: #a00 !important;
}


.greasyscripts_setting[disabled] {
	color: gray;
}

.greasyscripts_setting > setting {
	border: none !important;
}

.greasyscripts_setting > setting:not([title]) .preferences-title {
	display: none !important;
}